<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QODBCSupportWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="QODBCWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>        
        <QODBCWizard.Properties.Settings>
            <setting name="QODBCWizard_com_flexquarters_support_Upload_File" serializeAs="String">
                <value>https://support.flexquarters.com/supportwizard/serverV2.php</value>
            </setting>
        </QODBCWizard.Properties.Settings>
    </applicationSettings>
</configuration>
