<BusinessDaemonConfiguration Name="BD1" HartbeatInterval="0" RefreshInterval="1000" PrimaryTSURL="http://127.0.0.1:9090/iwtransformationserver" SecondaryTSURL="" PrimaryTSURLT="http://127.0.0.1:9090/iwtransformationserver" SecondaryTSURLT="" PrimaryTSURL1="" SecondaryTSURL1="" PrimaryTSURLT1="" SecondaryTSURLT1="" PrimaryTSURLD="http://127.0.0.1:9090/iwtransformationserver" SecondaryTSURLD="" FailoverURL="" IsPrimary="1" RunAtStartUp="1" BufferSize="1024" IsHosted="0"></BusinessDaemonConfiguration>